@model List<TxssiteDetail>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report:Sites Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <div class="container">
        <p style="float:right;">Print Date Time: @Html.Label(DateTime.Now.ToString("dd-MMM-yyyy hh:mm tt"))</p>
        <h2>SITE DETAIL</h2>
        <div style="width:100%;border-top:1px solid black"></div>
        <br />
        <table class="table table-bordered" style="text-wrap: none;">
            <thead>
                <tr style="background-color:#F1F1F1">
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Abbrevition</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Default</th>
                    <th style="display: none;">Enter by</th>
                    <th>Enter Date</th>
                    <th style="display: none;">Edit By</th>
                    <th>Edit Date</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@*@item.SitId*@@(i += 1)</td>
                        <td>@item.SitName</td>
                        <td>@item.SitAbbr</td>
                        <td>@item.SitDesc</td>
                        <td>
                            @if (item.SitActive == true)
                            {@Html.Encode("Yes") }
                        else
                        { @Html.Encode("No")}
                    </td>
                    <td>
                        @if (item.SitDefault == true)
                        {@Html.Encode("Yes") }
                    else
                    { @Html.Encode("No")}
                </td>
                <td style="display: none;">@item.EnterBy</td>
                <td>@Convert.ToString(string.Format("{0:dd-MMM-yyyy hh:mm tt}", item.EnterDate))</td>
                <td style="display: none;">@item.EditBy</td>
                <td>@Convert.ToString(string.Format("{0:dd-MMM-yyyy hh:mm tt}", item.EditDate))</td>
            </tr>
        }
            </tbody>
        </table>
    </div>
</body>
</html> 