@model Taxtation.ViewModel.TXTOpeningDetailView

@{
    ViewData["Title"] = "Opening Detail";
    var index = 7;
    if (Model.lstLedger != null)
    {
        index = Model.lstLedger.Count;
    }
}
<form asp-action="OpeningDetail" method="post">
    <div class="row" style="position:fixed; padding-top:5px;padding-bottom:3px;z-index:2;background-color:#EEEEEE;left:-1px;right:0">
        <div class="col-sm-12" style="padding-left:8.2%;">
            @if (ViewData["_Save"].ToString() == "True")
            {
                <button type="submit" name="Save" id="Save" value="Save" AccessKey="S" class="form-control-btn buttonsize">S̲AVE</button>
            }
            @if (ViewData["_Update"].ToString() == "True")
            {
                //style="background-image:url(../images/button/Save.png)" class="btnControlDML"
                //style="background-image:url(../images/button/Update.png)" class="btnControlDML"
                //style="background-image:url(../images/button/Delete.png)" class="btnControlDML"
                //style="background-image:url(../images/button/Report.png)" class="btnControlDML"
                //style="background-image:url(../images/button/back.png)" class="btnControlDML"

                <button type="submit" name="Update" id="Update" value="Update" AccessKey="U" class="form-control-btn buttonsize">U̲PDATE</button>
                <button type="submit" name="Delete" id="Delete" value="Delete" AccessKey="L" class="form-control-btn buttonsize">DEL̲ETE</button>
                <button type="submit" name="Report" id="Report" value="Report" AccessKey="R" class="form-control-btn buttonsize">R̲EPORT</button>
            }
            <button name="Add Row" id="addNewRow" value="Add Row" AccessKey="A" class="form-control-btn buttonsize">A̲DDROW</button>
            <a asp-action="showOpeningDetail" asp-controller="GeneralLedger" AccessKey="B" class="form-control-btn buttonsize">B̲ACK</a>
            <div style="float:right;padding-right:8.3%">
                <table class="w3-table-all">
                    <tr>
                        <td>
                            Total Debit:
                            <input type="text" asp-for="TotalDebit" readonly="readonly" class="form-control-footer" />
                        </td>
                        <td>
                            Total Credit:
                            <input type="text" asp-for="TotalCredit" readonly="readonly" class="form-control-footer" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" asp-for="master.TrId" hidden="hidden" class="form-control" />
        </div>
    </div>
    <div class="row toppadding1">
        <div class="col-md-3">
            Transaction No<span class="mandatory">*</span>:
            <input type="text" asp-for="master.Trno" readonly="readonly" class="form-control" />
        </div>
        <div class="col-md-3">
            Transaction Date<span class="mandatory">*</span>:
            <input type="date" asp-for="master.Trdate" class="form-control" required />
        </div>
        <div class="col-md-3">
            Ledger Date<span class="mandatory">*</span>:
            <input type="date" asp-for="master.Trgldate" class="form-control" required />

        </div>
        <div class="col-md-3">
            Site<span class="mandatory">*</span>:<br />
            <select asp-for="master.SitId" class="chosen-select" style="width: 100%;" required="required">
                <option value="">SELECT SITE</option>
                @foreach (var j in Model.lstSite)
                {
                    if (@j.SitDefault == true)
                    {
                        <option value=@j.SitId selected>@j.SitName</option>
                    }
                    else
                    {
                        <option value=@j.SitId>@j.SitName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Currency<span class="mandatory">*</span>:
            <select asp-for="master.TrcurId" class="form-control" required="required">
                <option value="">SELECT CURRENCY</option>
                @foreach (var j in Model.lstCurrency)
                {
                    if (@j.CurIsLocal == true)
                    {
                        <option value=@j.CurId selected>@j.CurName</option>
                    }
                    else
                    {
                        <option value=@j.CurId>@j.CurName</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            Exchange Rate<span class="mandatory">*</span>:
            <input type="number" step=".01" asp-for="master.TrexchangeRate" onchange="ExchangeRate()" class="form-control" required="required" />
        </div>
        <div class="col-md-3">
            Reference No:
            <input type="text" asp-for="master.TrrefMain" class="form-control" />
        </div>
        <div class="col-md-3">
            Remarks:
            @*<input type="text" asp-for="master.TrmainRemarks" class="form-control" />*@
            <textarea asp-for="master.TrmainRemarks" class="form-control textareavertical" rows="1" cols="15"></textarea>
        </div>
    </div>

    @*<div class="row">
            <div class="col-lg-3">
                <button id="addNewRow" class="form-control">Add New Row</button>
            </div>
            <div class="col-lg-9"></div>
        </div>*@
    <br />
    <div class="row">
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:250px;">Account<span class="mandatory">*</span></th>
                        <th style="width:120px;">Amount<span class="mandatory">*</span></th>
                        <th style="width:120px;">Debit/Credit<span class="mandatory">*</span></th>
                        <th style="width:120px;">Exc. Amount</th>
                        <th style="width:120px;">Invoice Ref.</th>
                        <th style="width:350px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < index; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="lstLedger[i].TraccCode" onchange="ExchangeRate()" class="chosen-select" style="width: 250px;">
                                    <option value="-1">SELECT ACCOUNT</option>
                                    @foreach (var j in Model.lstAccount)
                                    {
                                        <option value=@j.AccCode>@j.AccName</option>
                                    }
                                </select>
                            </td>
                            <td><input type="number" step=".01" asp-for="eFOD[i].amount" onchange="ExchangeRate()" class="form-control" style="width:120px;" /></td>
                            <td>
                                <select asp-for="eFOD[i].debitCredit" onchange="ExchangeRate()" class="form-control" style="width:120px;">
                                    <option value="001">Debit</option>
                                    <option value="002">Credit</option>
                                </select>
                            </td>
                            <td><input type="text" step="any" asp-for="lstLedger[i].TramountConverted" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="text" asp-for="lstLedger[i].TrrefNo" class="form-control" style="width:120px;" /></td>
                            <td><input type="text" asp-for="lstLedger[i].Trremarks" class="form-control" style="width:350px;" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts{

    <script type="text/javascript">
        $(window).load(function () {
            ExchangeRate();
        });
        function ExchangeRate() {
            var ExRate = $('#master_TrexchangeRate').val();
            var rows = $('#myTable tbody tr').length;
            var TotalDebit = 0;
            var TotalCredit = 0;
            var debit = 0;
            var credit = 0;
            if (ExRate <= 0) {
                $('#master_TrexchangeRate').val('1');
            }
            ExRate = $('#master_TrexchangeRate').val();

            for (var i = 0; i < rows; i++) {
                credit = 0; debit = 0;
                if ($('#lstLedger_' + i + '__TraccCode').val() != '-1' && $('#eFOD_' + i + '__amount').val() != '') {
                    var type = $('#eFOD_' + i + '__debitCredit').val();
                    if (type == '001') { debit = $('#eFOD_' + i + '__amount').val(); credit = 0; }
                    else { debit = 0; credit = $('#eFOD_' + i + '__amount').val(); }
                    if (ExRate != '') {
                        $('#lstLedger_' + i + '__TramountConverted').val(parseFloat($('#eFOD_' + i + '__amount').val() * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    }
                    else { $('#lstLedger_' + i + '__TramountConverted').val(0); }
                }
                TotalDebit += parseFloat(debit);
                TotalCredit += parseFloat(credit);
            }
            $('#TotalDebit').val(parseFloat(TotalDebit * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            $('#TotalCredit').val(parseFloat(TotalCredit * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        }

        $('#addNewRow').click(function (event) {
            var rowCount = $('#myTable tbody tr').length;
            var dropDownAccount = document.getElementById('lstLedger_0__TraccCode').innerHTML;
            $('#myTable').append('<tr><td><select onchange="ExchangeRate()" class="chosen-select" style="width:250px;" id="lstLedger_' + rowCount + '__TraccCode" name="lstLedger[' + rowCount + '].TraccCode">' + dropDownAccount + '</select ></td><td><input type="text" onchange="ExchangeRate()" class="form-control" style="width:120px;" data-val="true" data-val-number="The field amount must be a number." id="eFOD_' + rowCount + '__amount" name="eFOD[' + rowCount + '].amount" value=""></td><td><select onchange="ExchangeRate()"  class="form-control" style="width:120px;" id="eFOD_' + rowCount + '__debitCredit" name="eFOD[' + rowCount + '].debitCredit"><option value="001">Debit</option><option value="002">Credit</option></select ></td><td><input type="number" step="any" class="form-control" style="width:120px;" data-val="true" data-val-number="The field TramountConverted must be a number." id="lstLedger_' + rowCount + '__TramountConverted" name="lstLedger[' + rowCount + '].TramountConverted" value=""></td><td><input type="text" class="form-control" style="width:120px;" id="lstLedger_' + rowCount + '__TrrefNo" name="lstLedger[' + rowCount + '].TrrefNo" value=""></td><td><input type="text" class="form-control" style="width:350px;" id="lstLedger_' + rowCount + '__Trremarks" name="lstLedger[' + rowCount + '].Trremarks" value=""></td></tr>')
            $('#lstLedger_' + rowCount + '__TraccCode').attr('Selected', true).val("-1");
            event.preventDefault();
            $(".chosen-select").chosen('destroy');
        })

        $(document).ready(function () {
            $('#Save').on('click', function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                var TotalDebit = $('#TotalDebit').val();
                var TotalCredit = $('#TotalCredit').val();
                var ExRate = $('#master_TrexchangeRate').val();

                if (parseFloat(TotalDebit) <= 0 || parseFloat(TotalCredit) <= 0) {
                    alert('Cannot Save Zero Value Transaction!');
                    event.preventDefault();
                    return;
                }
                if (TotalDebit != TotalCredit) {
                    alert('Cannot Save Un-balanced Transaction!');
                    event.preventDefault();
                    return;
                }
                if (ExRate == '' || ExRate == 0) {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                    return;
                }
                for (var i = 0; i < rowCount; i++) {
                    if ($('#lstLedger_' + i + '__TraccCode').val() != '-1' && $('#eFOD_' + i + '__amount').val() != '') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Any Account or Enter Amount!');
                    event.preventDefault();
                    return;
                }
            })
        })

        $(document).ready(function () {
            $('#Update').on('click', function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                var TotalDebit = $('#TotalDebit').val();
                var TotalCredit = $('#TotalCredit').val();
                var ExRate = $('#master_TrexchangeRate').val();

                if (parseFloat(TotalDebit) <= 0 || parseFloat(TotalCredit) <= 0) {
                    alert('Cannot Save Zero Value Transaction!');
                    event.preventDefault();
                    return;
                }
                if (TotalDebit != TotalCredit) {
                    alert('Cannot Save Un-balanced Transaction!');
                    event.preventDefault();
                    return;
                }
                if (ExRate == '' || ExRate == 0) {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                    return;
                }
                for (var i = 0; i < rowCount; i++) {
                    if ($('#lstLedger_' + i + '__TraccCode').val() != '-1' && $('#eFOD_' + i + '__amount').val() != '') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Any Account or Enter Amount!');
                    event.preventDefault();
                    return;
                }
            })
        })
    </script>
}
