@model Taxtation.ViewModel.TXTPaymentMasterView

@{
    ViewData["Title"] = "Payment Detail";

    var index = 5;
    if (Model.lstLedger != null)
    {
        index = Model.lstLedger.Count;
    }
    var index1 = 5;
    if (Model.lstDetailBill != null)
    {
        index1 = Model.lstDetailBill.Count;
    }
    var index2 = 10;
    if (Model.lstDetailMultiple != null)
    {
        index1 = Model.lstDetailMultiple.Count;
    }
}

<form asp-action="PaymentDetail" method="post">
    <div class="row" style="position:fixed; padding-top:5px;padding-bottom:3px;z-index:2;background-color:#EEEEEE;left:-1px;right:0">
        <div class="col-sm-12" style="padding-left:8.2%;">
            @if (ViewData["_Save"].ToString() == "True")
            {
                <button type="submit" name="Save" id="Save" value="Save" AccessKey="S" class="form-control-btn buttonsize">S̲AVE</button>
            }
            @if (ViewData["_Update"].ToString() == "True")
            {
                <button type="submit" name="Update" id="Update" value="Update" AccessKey="U" class="form-control-btn buttonsize">U̲PDATE</button>
                <button type="submit" name="Delete" id="Delete" value="Delete" AccessKey="L" class="form-control-btn buttonsize">DEL̲ETE</button>
                <button type="submit" name="Report" id="Report" value="Report" AccessKey="R" class="form-control-btn buttonsize">R̲EPORT</button>
            }
            <button name="Add Row" id="addNewRow" value="Add Row" AccessKey="A" class="form-control-btn buttonsize">A̲DDROW</button>
            <a asp-action="showPayment" asp-controller="GeneralLedger" AccessKey="B" class="form-control-btn buttonsize">B̲ACK</a>
            <div style="float:right;padding-right:8.3%">
                <table class="w3-table-all">
                    <tr>
                        <td>
                            Sub Total
                            <input type="text" asp-for="master.TrsubTotal" readonly="readonly" class="form-control" />
                        </td>
                        <td>
                            Excise Tax
                            <input type="text" asp-for="master.TrtotalTaxExcise" readonly="readonly" class="form-control" />
                        </td>
                        <td>
                            VAT Tax&nbsp;&nbsp;&nbsp;
                            <input type="text" asp-for="master.TrtotalTax" readonly="readonly" class="form-control" />
                        </td>
                        <td>
                            Total Amount
                            <input type="text" asp-for="master.TrtotalAmount" readonly="readonly" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" asp-for="master.Id" hidden="hidden" class="form-control" />
        </div>
        <div class="col-lg-4">
            <input type="text" asp-for="master.UserName" hidden="hidden" class="form-control" />
        </div>
        <div class="col-lg-4">
            <input type="text" asp-for="master.PayId" hidden="hidden" class="form-control" />
        </div>
    </div>
    <div class="row toppadding2">
        <div class="col-md-3">
            Transaction No<span class="mandatory">*</span>:
            <input type="text" asp-for="master.Trno" readonly="readonly" class="form-control" />
        </div>
        <div class="col-md-3">
            Transaction Date<span class="mandatory">*</span>:
            <input type="date" asp-for="master.Trdate" class="form-control" required />
        </div>
        <div class="col-md-3">
            Ledger Date<span class="mandatory">*</span>:
            <input type="date" asp-for="master.Trgldate" class="form-control" required />
        </div>
        <div class="col-md-3">
            Site<span class="mandatory">*</span>:<br />
            <select asp-for="master.SitId" class="form-control" required="required">
                <option value="">SELECT SITE</option>
                @foreach (var j in Model.lstSite)
                {
                    if (@j.SitDefault == true)
                    {
                        <option value=@j.SitId selected>@j.SitName</option>
                    }
                    else
                    {
                        <option value=@j.SitId>@j.SitName</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            Payment Mode<span class="mandatory">*</span>:
            <select asp-for="master.Trtype" class="form-control" required="required">
                <option value="BANK ACCOUNT">BANK</option>
                <option value="CASH">CASH</option>
                <option value="MULTIPLE">MULTIPLE</option>
            </select>
        </div>
        <div class="col-md-3">
            Credit Account<span class="mandatory">*</span>:
            <select asp-for="master.TrtypeAccount" class="form-control" required>
                <option value="">SELECT ACCOUNT</option>
                @foreach (var j in Model.lstCredit)
                {
                    <option value=@j.Coaid>@j.AccName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Currency<span class="mandatory">*</span>:
            <select asp-for="master.CurId" class="form-control" required="required">
                <option value="">SELECT CURRENCY</option>
                @foreach (var j in Model.lstCurrency)
                {
                    if (@j.CurIsLocal == true)
                    {
                        <option value=@j.CurId selected>@j.CurName</option>
                    }
                    else
                    {
                        <option value=@j.CurId>@j.CurName</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            Exchange Rate<span class="mandatory">*</span>:
            <input type="number" step=".01" asp-for="master.TrexchangeRate" onchange="ExchangeRate()" class="form-control" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Supplier:
            <select asp-for="master.SupId" class="form-control">
                <option value="-1">SELECT SUPPLIER</option>
                @foreach (var j in Model.lstSupplier)
                {
                    <option value=@j.SupId>@j.SupName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Reference No:
            <input type="text" asp-for="master.TrrefMain" class="form-control" />
        </div>
        <div class="col-md-3">
            Remarks:
            @*<input type="text" asp-for="master.TrmainRemarks" class="form-control" />*@
            <textarea asp-for="master.TrmainRemarks" class="form-control textareavertical" rows="1" cols="15"></textarea>
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-3">
                <button id="addNewRow" class="form-control">Add New Row</button>
            </div>
            <div class="col-lg-9"></div>
        </div>*@
    <br />
    <div class="row" id="OtherPayment">
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTableOtherPayment" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:250px;">Account</th>
                        <th style="width:120px;">Amount</th>
                        <th style="width:120px;">Exc. Amount</th>
                        <th style="width:200px;">Excise Slab</th>
                        <th style="width:120px;">Excise Percent</th>
                        <th style="width:120px;">Excise Amount</th>
                        <th style="width:200px;">VAT Slab</th>
                        <th style="width:120px;">VAT Percent</th>
                        <th style="width:120px;">VAT Amount</th>
                        <th style="width:150px;">Net Amount</th>
                        <th style="width:120px;">Cheque No</th>
                        <th style="width:170px;">Cheque Date</th>
                        <th style="width:230px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < index; i++)
                    {
                    <tr>
                        <td>
                            <select asp-for="lstLedger[i].TraccCode" onchange="ExchangeRate()" class="chosen-select" style="width:250px;">
                                <option value="-1">SELECT ACCOUNT</option>
                                @foreach (var j in Model.lstAccount)
                                {
                                    <option value=@j.AccCode>@j.AccName</option>
                                }
                            </select>
                        </td>
                        <td><input type="number" asp-for="lstLedger[i].Tramount" onchange="ExchangeRate()" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstLedger[i].TramountConverted" readonly="readonly" class="form-control" style="width:120px;" /></td>
                        <td>
                            <select asp-for="lstLedger[i].TrtxsExciseId" onchange="ExchangeRate()" class="form-control" style="width:200px;">
                                <option value="-1">SELECT SLAB</option>
                                @foreach (var j in Model.lstExcise)
                                {
                                    <option value=@j.TaxId>@j.TaxName</option>
                                }
                            </select>
                        </td>
                        <td><input type="number" asp-for="lstLedger[i].TrtaxExcisePercent" readonly="readonly" min="0" max="100" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstLedger[i].TrtaxExciseAmount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                        <td>
                            <select asp-for="lstLedger[i].TrtxsId" onchange="ExchangeRate()" class="form-control" style="width:200px;">
                                <option value="-1">SELECT SLAB</option>
                                @foreach (var j in Model.lstTax)
                                {
                                    <option value=@j.TaxId>@j.TaxName</option>
                                }
                            </select>
                        </td>
                        <td><input type="number" asp-for="lstLedger[i].TrtaxPercent" readonly="readonly" min="0" max="100" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstLedger[i].TrtaxAmount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstLedger[i].TramountWithTax" readonly="readonly" class="form-control" style="width:150px;" /></td>
                        <td><input type="text" asp-for="lstLedger[i].TrchequeNo" class="form-control" style="width:120px;" /></td>
                        <td><input type="date" asp-for="lstLedger[i].TrchequeDate" class="form-control" style="width:170px;" /></td>
                        <td><input type="text" asp-for="lstLedger[i].Trremarks" class="form-control" style="width:230px;" /></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row" id="PurchaseDetail">
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTablePurchaseDetail" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:170px;">Bill Date</th>
                        <th style="width:120px;">Bill No</th>
                        <th style="width:200px;">Item Name</th>
                        <th style="width:120px;">Bill Amount</th>
                        <th style="width:120px;">Amount Owing</th>
                        <th style="width:120px;">Payment Amount</th>
                        <th style="width:120px;">Balance Amount</th>
                        <th style="width:230px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < index1; i++)
                    {
                    <tr>
                        <td><input type="date" asp-for="lstDetailBill[i].PblDate" class="form-control" style="width:170px;" /></td>
                        <td><input type="text" asp-for="lstDetailBill[i].PblCode" class="form-control" style="width:120px;" /></td>
                        <td>
                            <select asp-for="lstDetailBill[i].InvCode" class="form-control" style="width:200px;">
                                <option value="-1">SELECT ITEM</option>
                                @foreach (var j in Model.lstItem)
                                {
                                    <option value=@j.ItmId>@j.ItmName</option>
                                }
                            </select>
                        </td>
                        <td><input type="number" asp-for="lstDetailBill[i].PblBillAmount" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstDetailBill[i].PblOwingAmount" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstDetailBill[i].PblPaidAmount" class="form-control" style="width:120px;" /></td>
                        <td><input type="number" asp-for="lstDetailBill[i].PblBalanceAmount" class="form-control" style="width:120px;" /></td>
                        <td><input type="text" asp-for="lstDetailBill[i].PblSubRemarks" class="form-control" style="width:230px;" /></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="MultiplePayment">
        <br />
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTableMultiplePayment" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:230px;">Account</th>
                        <th style="width:120px;">Amount</th>
                        <th style="width:120px;">Exc. Amount</th>
                        <th style="width:120px;">Chq No</th>
                        <th style="width:170px;">Chq Date</th>
                        <th style="width:230px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < index2; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="lstDetailMultiple[i].TraccCode" class="chosen-select" style="width:250px;">
                                    <option value="-1">SELECT ACCOUNT</option>@foreach (var j in Model.lstAccountMultiple)
                                    {
                                        <option value=@j.AccCode>@j.AccName</option>}
                                </select>
                            </td>
                            <td><input type="number" asp-for="lstDetailMultiple[i].Trcredit" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" asp-for="lstDetailMultiple[i].TramountConverted" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="text" asp-for="lstDetailMultiple[i].TrchequeNo" class="form-control" style="width:120px;" /></td>
                            <td><input type="date" asp-for="lstDetailMultiple[i].TrchequeDate" class="form-control" style="width:170px;" /></td>
                            <td><input type="text" asp-for="lstDetailMultiple[i].Trremarks" class="form-control" style="width:230px;" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts{ 

    <script type="text/javascript">

        if ($('#master_Trtype').val() == 'MULTIPLE') {
            $('#MultiplePayment').show();
        }
        else {
            $('#MultiplePayment').hide();
        }

        $(document).ready(function () {
            $('#master_Trtype').change(function () {

                if ($('#master_Trtype').val() == 'MULTIPLE') {
                    $('#MultiplePayment').show();
                }
                else {
                    $('#MultiplePayment').hide();
                }

                var credit = "<option value=''>SELECT ACCOUNT</option>";
                    $.ajax({
                        type: 'GET',
                        url: '/GeneralLedger/PaymentCredit',
                        data: { BankCash: $('#master_Trtype').val() },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            for (var i = 0; i < result.length; i++) {
                                credit += "<option value='" + result[i].accCode + "'>" + result[i].accName + "</option>";
                            }
                            $('#master_TrtypeAccount option').remove();
                            $('#master_TrtypeAccount').append(credit);
                        },
                        error: function () {
                        }
                    })                
            })

            $(window).load(function () {
                ExchangeRate();
            });
            function ExchangeRate() {
                //var ExRate = $('#master_TrexchangeRate').val();
                //var rows = $('#myTable tbody tr').length;
                //var TotalDebit = 0;
                //var TotalCredit = 0;
                //var debit = 0;
                //var credit = 0;
                //if (ExRate <= 0) {
                //    $('#master_TrexchangeRate').val('1');
                //}
                //ExRate = $('#master_TrexchangeRate').val();

                //for (var i = 0; i < rows; i++) {
                //    credit = 0; debit = 0;
                //    if ($('#lstLedger_' + i + '__TraccCode').val() != '-1' && $('#eFOD_' + i + '__amount').val() != '') {
                //        var type = $('#eFOD_' + i + '__debitCredit').val();
                //        if (type == '001') { debit = $('#eFOD_' + i + '__amount').val(); credit = 0; }
                //        else { debit = 0; credit = $('#eFOD_' + i + '__amount').val(); }
                //        if (ExRate != '') {
                //            $('#lstLedger_' + i + '__TramountConverted').val(parseFloat($('#eFOD_' + i + '__amount').val() * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                //        }
                //        else { $('#lstLedger_' + i + '__TramountConverted').val(0); }
                //    }
                //    TotalDebit += parseFloat(debit);
                //    TotalCredit += parseFloat(credit);
                //}
                //$('#TotalDebit').val(parseFloat(TotalDebit * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                //$('#TotalCredit').val(parseFloat(TotalCredit * ExRate).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            }

            $('#addNewRow').click(function (event) {
                if ($('#master_Trmode').val() == 'PURCHASE PAYMENT') {
                    var rowCount = $('#myTablePurchaseDetail tbody tr').length;
                    $('#myTablePurchaseDetail').append('<tr><td><input type="date" class="form-control" style="width:170px;" id="lstDetailPurchase_' + rowCount + '__PayBillDate" name="lstDetailPurchase[' + rowCount + '].PayBillDate" value=""></td><td><input type="text" class="form-control" style="width:120px;" id="lstDetailPurchase_' + rowCount + '__PayBillNo" name="lstDetailPurchase[' + rowCount + '].PayBillNo" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayOriginalAmt must be a number." id="lstDetailPurchase_' + rowCount + '__PayOriginalAmt" name="lstDetailPurchase[' + rowCount + '].PayOriginalAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayAmtOwing must be a number." id="lstDetailPurchase_' + rowCount + '__PayAmtOwing" name="lstDetailPurchase[' + rowCount + '].PayAmtOwing" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayDiscAmt must be a number." id="lstDetailPurchase_' + rowCount + '__PayDiscAmt" name="lstDetailPurchase[' + rowCount + '].PayDiscAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayPaymentAmt must be a number." id="lstDetailPurchase_' + rowCount + '__PayPaymentAmt" name="lstDetailPurchase[' + rowCount + '].PayPaymentAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayExcAmt must be a number." id="lstDetailPurchase_' + rowCount + '__PayExcAmt" name="lstDetailPurchase[' + rowCount + '].PayExcAmt" value=""></td><td><input type="text" class="form-control" style="width:120px;" id="lstDetailPurchase_' + rowCount + '__PayChqNo" name="lstDetailPurchase[' + rowCount + '].PayChqNo" value=""></td><td><input type="date" class="form-control" style="width:170px;" id="lstDetailPurchase_' + rowCount + '__PayChqDate" name="lstDetailPurchase[' + rowCount + '].PayChqDate" value=""></td><td><input type="text" class="form-control" style="width:230px;" id="lstDetailPurchase_' + rowCount + '__PayRemarks" name="lstDetailPurchase[' + rowCount + '].PayRemarks" value=""></td></tr>')
                }
                else {
                    var rowCount = $('#myTableOtherPayment tbody tr').length;
                    var dropDownAccount = document.getElementById('lstDetailOther_0__Coaid').innerHTML;
                    var dropDownExcise = document.getElementById('lstDetailOther_0__ExciseId').innerHTML;
                    var dropDownTax = document.getElementById('lstDetailOther_0__TaxId').innerHTML;
                    $('#myTableOtherPayment').append('<tr><td><select class="chosen-select" style="width:250px;" id="lstDetailOther_' + rowCount + '__Coaid" name="lstDetailOther[' + rowCount + '].Coaid">' + dropDownAccount + '</select></td ><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayPaymentAmt must be a number." id="lstDetailOther_' + rowCount + '__PayPaymentAmt" name="lstDetailOther[' + rowCount + '].PayPaymentAmt" value=""></td><td><input type="number" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayExcAmt must be a number." id="lstDetailOther_' + rowCount + '__PayExcAmt" name="lstDetailOther[' + rowCount + '].PayExcAmt" value=""></td><td><select class="form-control" style="width:230px;" id="lstDetailOther_' + rowCount + '__ExciseId" name="lstDetailOther[' + rowCount + '].ExciseId">' + dropDownExcise + '</select></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayExcisePercent must be a number." id="lstDetailOther_' + rowCount + '__PayExcisePercent" name="lstDetailOther[' + rowCount + '].PayExcisePercent" value=""></td><td><input type="number" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayExciseAmount must be a number." id="lstDetailOther_' + rowCount + '__PayExciseAmount" name="lstDetailOther[' + rowCount + '].PayExciseAmount" value=""></td><td><select class="form-control" style="width:230px;" id="lstDetailOther_' + rowCount + '__TaxId" name="lstDetailOther[' + rowCount + '].TaxId">' + dropDownTax + '</select></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayTaxPercent must be a number." id="lstDetailOther_' + rowCount + '__PayTaxPercent" name="lstDetailOther[' + rowCount + '].PayTaxPercent" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayTaxAmount must be a number." id="lstDetailOther_' + rowCount + '__PayTaxAmount" name="lstDetailOther[' + rowCount + '].PayTaxAmount" value=""></td><td><input type="text" class="form-control" style="width:120px;" id="lstDetailOther_' + rowCount + '__PayChqNo" name="lstDetailOther[' + rowCount + '].PayChqNo" value=""></td><td><input type="date" class="form-control" style="width:170px;" id="lstDetailOther_' + rowCount + '__PayChqDate" name="lstDetailOther[' + rowCount + '].PayChqDate" value=""></td><td><input type="text" class="form-control" style="width:230px;" id="lstDetailOther_' + rowCount + '__PayRemarks" name="lstDetailOther[' + rowCount + '].PayRemarks" value=""></td></tr>');
                    $('#lstDetailOther_' + rowCount + '__Coaid').attr('Selected', true).val("-1");
                    $('#lstDetailOther_' + rowCount + '__ExciseId').attr('Selected', true).val("-1");
                    $('#lstDetailOther_' + rowCount + '__TaxId').attr('Selected', true).val("-1");
                }
                event.preventDefault();
                $(".chosen-select").chosen('destroy');
            })

            $('#master_SupId').change(function () {
                //if ($('#master_TrtypeAccount').val() == '') {
                //    alert('Please Select Any Credit Account!');
                //}
                //else {
                    $.ajax({
                        type: 'GET',
                        url: '/GeneralLedger/supplierChange',
                        data: { Trno: $('#master_Trno').val(), ExchangeRate: $('#master_TrexchangeRate').val(), supplierid: $('#master_SupId').val() },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#myTablePurchaseDetail tbody tr').remove();
                            for (var i = 0; i < result.lstDetailOther.length; i++) {
                                $('#myTablePurchaseDetail').append('<tr><td><input type="date" class="form-control" style="width:170px;" id="lstDetailPurchase_' + i + '__PayBillDate" name="lstDetailPurchase[' + i + '].PayBillDate" value="' + result.lstDetailOther[i].payBillDate + '"></td><td><input type="text" class="form-control" style="width:120px;" id="lstDetailPurchase_' + i + '__PayBillNo" name="lstDetailPurchase[' + i + '].PayBillNo" value="' + result.lstDetailOther[i].payBillNo + '"></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayOriginalAmt must be a number." id="lstDetailPurchase_' + i + '__PayOriginalAmt" name="lstDetailPurchase[' + i + '].PayOriginalAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayAmtOwing must be a number." id="lstDetailPurchase_' + i + '__PayAmtOwing" name="lstDetailPurchase[' + i + '].PayAmtOwing" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayDiscAmt must be a number." id="lstDetailPurchase_' + i + '__PayDiscAmt" name="lstDetailPurchase[' + i + '].PayDiscAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayPaymentAmt must be a number." id="lstDetailPurchase_' + i + '__PayPaymentAmt" name="lstDetailPurchase[' + i + '].PayPaymentAmt" value=""></td><td><input type="number" class="form-control" style="width:120px;" data-val="true" data-val-number="The field PayExcAmt must be a number." id="lstDetailPurchase_' + i + '__PayExcAmt" name="lstDetailPurchase[' + i + '].PayExcAmt" value=""></td><td><input type="text" class="form-control" style="width:120px;" id="lstDetailPurchase_' + i + '__PayChqNo" name="lstDetailPurchase[' + i + '].PayChqNo" value=""></td><td><input type="date" class="form-control" style="width:170px;" id="lstDetailPurchase_' + i + '__PayChqDate" name="lstDetailPurchase[' + i + '].PayChqDate" value=""></td><td><input type="text" class="form-control" style="width:230px;" id="lstDetailPurchase_' + i + '__PayRemarks" name="lstDetailPurchase[' + i + '].PayRemarks" value=""></td></tr>')
                            }
                            console.log(result);
                        },
                        error: function () {
                        }
                    })
                //}
            })

            function amountChange() {
                var rowCount = $('#myTableOtherPayment tbody tr').length;
                var subTotal = 0;
                var totalExcise = 0;
                var totalVAT = 0;
                var Total = 0;
                var excAmount = 0;
                for (var i = 0; i < rowCount; i++) {
                    if ($('#lstDetailOther_' + i + '__Coaid').val() != '-1' && $('#lstDetailOther_' + i + '__PayPaymentAmt') != '') {

                    }
                }
            }
        })
    </script>

}