@model Taxtation.ViewModel.TXTJournalDetailView

@{
    ViewData["Title"] = "List Journal Detail";
    var query = from mas in Model.lstMaster
                join det in Model.lstLedger on mas.Trno equals det.Trno
                join site in Model.lstSite on mas.SitId equals site.SitId into sites
                from site in sites.DefaultIfEmpty()
                join currency in Model.lstCurrency on mas.TrcurId equals currency.CurId into currencies
                from currency in currencies.DefaultIfEmpty()
                join account in Model.lstAccount on det.TraccCode equals account.AccCode into accounts
                from account in accounts.DefaultIfEmpty()
                select new { mas, det, site, currency, account };
}

<div class="MainDiv">
    <div>
        <h2>List Journal Detail</h2>
    </div>
    <div style="float:left;">
        <a asp-action="JournalDetail" asp-controller="GeneralLedger" AccessKey="A" class="form-control-btn" style="width:100px;">A̲DD NEW</a>
    </div>
    <div style="text-align:right;width:100px;float:left;padding-left:2px;padding-right:1px;">@Html.ActionLink("R̲EPORT", "PrintAllPurchase", "Reports", new { }, new { target = "_blank", @class = "form-control-btn", @accesskey = "R" })</div>
    <div style="float:left;">
        <a asp-action="Ledger" asp-controller="Home" AccessKey="B" class="form-control-btn" style="width:100px;">B̲ACK</a>
    </div>
    <div style="float:right;">
        <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search..." title="Search..." style="width:330px;">
    </div>
</div>
<div class="GridStyle">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr style="white-space:nowrap;">
                <th></th>
                <th>TR. NO.</th>
                <th>TR. DATE</th>
                @*
                <th>Ledger Date</th>*@
                <th>ACCOUNT NAME</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
                <th>SITE</th>
                <th>CURRENCY</th>
                <th>EXC. RATE</th>
                <th>REF. NO.</th>
                <th>REMARKS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var j in query)
            {
                <tr style="white-space:nowrap;">
                    <td>@Html.ActionLink("Edit", "JournalDetail", "GeneralLedger", new { id = j.mas.TrId }, new { @class = "form-control-btn-edit" })</td>
                    <td>@Html.DisplayFor(modelItem => j.mas.Trno)</td>
                    <td>@Convert.ToString(string.Format("{0:dd-MMM-yyyy}", j.mas.Trdate))</td>
                    @*<td>@Html.DisplayFor(modelItem => j.mas.Trgldate)</td>*@
                    <td>@Html.DisplayFor(modelItem => j.account.AccName)</td>
                    <td>@String.Format("{0:n0}", j.det.Trdebit)</td>
                    <td>@String.Format("{0:n0}", j.det.Trcredit)</td>
                    <td>@Html.DisplayFor(modelItem => j.site.SitName)</td>
                    <td>@Html.DisplayFor(modelItem => j.currency.CurName)</td>
                    <td>@Html.DisplayFor(modelItem => j.mas.TrexchangeRate)</td>
                    <td>@Html.DisplayFor(modelItem => j.mas.TrrefMain)</td>
                    <td>@Html.DisplayFor(modelItem => j.mas.TrmainRemarks)</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        function myFunction() {
            debugger;
            var input, filter, table, tr, td, i, txtValue, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            var tds = $('#myTable').children('tbody').children('tr').children('td').length;
            tds = tds / tr.length;
            for (i = 1; i < tr.length; i++) {
                for (j = 0; j < tds; j++) {
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
}