@model Taxtation.ViewModel.TXTPurchaseDetailView

@{
    ViewData["Title"] = "Purchase";
    var index = 5;
    if (Model.detail.detail != null) { index = Model.detail.detail.Count; }
}
<form asp-action="Purchase" method="post">
    <div class="row" style="position:fixed;padding-top:10px;z-index:2;background-color:#EEEEEE;left:0;right:0">
        <div class="col-sm-12" style="padding-left:8.2%;">
            @if (ViewData["_Save"].ToString() == "True")
            {
                <button type="submit" name="Save" id="Save" value="Save" style="background-image:url(../images/button/Save.png)" class="btnControlDML">Save</button>
            }
            @if (ViewData["_Update"].ToString() == "True")
            {
                <button type="submit" name="Update" id="Update" value="Update" style="background-image:url(../images/button/Update.png)" class="btnControlDML">Update</button>
                <button type="submit" name="Report" id="Report" value="Report" style="background-image:url(../images/button/Report.png)" class="btnControlDML">Report</button>

            }
            <div style="float:right;padding-right:8.3%">
                <a asp-action="showPurchase" asp-controller="Transaction" style="background-image:url(../images/button/back.png)" class="btnControlDML">Back</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" asp-for="master.Id" hidden="hidden" class="form-control" />
        </div>
        <div class="col-lg-4">
            <input type="text" asp-for="master.UserName" hidden="hidden" class="form-control" />
        </div>
        <div class="col-lg-4">
            <input type="text" asp-for="master.PurId" hidden="hidden" class="form-control" />
        </div>
    </div>
    <div class="row" style="padding-top:70px;z-index:1">
        <div class="col-md-3">
            Purchase Order:
            <input type="text" asp-for="master.PurPoref" class="form-control" />
        </div>
        <div class="col-md-3">
            Transaction Date:
            <input type="date" asp-for="master.PurDate" class="form-control" required />
        </div>
        <div class="col-md-3">
            Cash/Bank:
            <select asp-for="master.Coaid" class="form-control" required>
                <option value="">Select</option>
                @foreach (var j in Model.lstAccount)
                {
                    <option value=@j.Coaid>@j.AccName</option>
                }
            </select>
        </div><div class="col-md-3">
            Term:
            <select asp-for="master.PurPayTerm" class="form-control" required="required">
                <option value="CREDIT">CREDIT</option>
                <option value="CASH">CASH</option>
                <option value="BANK">BANK</option>
            </select>
        </div>
    </div>
    <div class="row">


        <div class="col-md-3">
            Cheque/Ref No:
            <input type="text" asp-for="master.PurChqNo" class="form-control"/>
        </div>
        <div class="col-md-3">
            Cheque Date:
            <input type="date" asp-for="master.PurChqDate" class="form-control" />
        </div> <div class="col-md-3">
            Purchase Type:
            <select asp-for="master.PurType" class="form-control" required="required">
                <option value="LOCAL">LOCAL</option>
                <option value="IMPORT">IMPORT</option>
                <option value="EXEMPT">EXEMPT</option>
            </select>
        </div>
        <div class="col-md-3">
            Item Type:
            <select asp-for="master.PurItmType" class="form-control" required="required">
                <option value="LOCAL">LOCAL</option>
                <option value="IMPORT">IMPORTED</option>
            </select>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            Exchange Rate:
            <input type="number" asp-for="master.PurExRate" onchange="ExchangeRate()" value="1" class="form-control" required="required" />
        </div> <div class="col-md-3">
            Site:
            <select asp-for="master.SitId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstSite)
                {
                    <option value=@j.SitId>@j.SitName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Store Name:
            <select asp-for="master.StrId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstStore)
                {
                    <option value=@j.StrId>@j.StrName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Supplier Name:
            <select asp-for="master.SupId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstSupplier)
                {
                    <option value=@j.SupId>@j.SupName</option>
                }
            </select>
        </div>

    </div>
    <div class="row">


        <div class="col-md-3">
            Currency:
            <select asp-for="master.CurId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstCurrency)
                {
                    <option value=@j.CurId>@j.CurName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Remarks:
            <input type="text" asp-for="master.PurRemarks" class="form-control" />
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:230px;">Item</th>
                        <th style="width:70px;">UOM</th>
                        <th style="width:120px;">Last Price</th>
                        <th style="width:120px;">Quantity</th>
                        <th style="width:120px;">Price</th>
                        <th style="width:120px;">Sub. Amount</th>
                        <th style="width:230px;">Excise Slab</th>
                        <th style="width:120px;">Excise Percent</th>
                        <th style="width:120px;">Excise Amount</th>
                        <th style="width:120px;">Amt. After Excise</th>
                        <th style="width:120px;">Disc. Type</th>
                        <th style="width:120px;">Disc.</th>
                        <th style="width:120px;">Disc. Amount</th>
                        <th style="width:120px;">Amt. After Disc.</th>
                        <th style="width:230px;">VAT Slab</th>
                        <th style="width:120px;">VAT Percent</th>
                        <th style="width:120px;">VAT Amount</th>
                        <th style="width:120px;">Net Amount</th>
                        <th style="width:120px;">Exc. Amount</th>
                        <th style="width:230px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < index; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="detail.detail[i].ItmId" onchange="changeItem(this)" data-rowNo=@i class="form-control" style="width:230px;">
                                    <option value="-1">Select</option>@foreach (var j in Model.lstItem)
                                    {
                                        <option value=@j.ItmId>@j.ItmName</option>}
                                </select>
                            </td>
                            <td><input type="text" asp-for="detail.pdef[i].UOM" readonly="readonly" class="form-control" style="width:70px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.pdef[i].lastPrice" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurQty" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurRate" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.pdef[i].subAmount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td>
                                <select asp-for="detail.detail[i].ExciseId" class="form-control" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" style="width:230px;">
                                    <option value="-1">Select</option>@foreach (var j in Model.lstExcise)
                                    {
                                        <option value=@j.TaxId>@j.TaxName</option>}
                                </select>
                            </td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurExPer" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurExAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.pdef[i].AmtAfterExcise" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><select asp-for="detail.detail[i].PurDisType" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" class="form-control" style="width:120px;"><option value="PERCENT">PERCENT</option><option value="AMOUNT">AMOUNT</option></select></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurDiscountPer" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurDiscountAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.pdef[i].AmtAfterDiscount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td>
                                <select asp-for="detail.detail[i].TaxId" data-rowNo=@i onchange="changeQuantityAndRate(this,true)" class="form-control" style="width:230px;">
                                    <option value="-1">Select</option> @foreach (var j in Model.lstTax)
                                    {
                                        <option value=@j.TaxId>@j.TaxName</option>}
                                </select>
                            </td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurTaxPer" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurTaxAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurNetAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="detail.detail[i].PurGrossAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="text" asp-for="detail.detail[i].PurRemarks" class="form-control" style="width:230px;" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />

    <div class="row" style="position:sticky;z-index:1;color:#000000;right:0;">

        <div class="col-md-2">
            Sub Total
            <input type="text" asp-for="SubTotal" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-1">
            Exise Tax
            <input type="text" asp-for="ExciseTax" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-1">
            Vat
            <input type="text" asp-for="VAT" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Total
            <input type="text" asp-for="TotalAmount" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Advance
            <input type="text" asp-for="Advance" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Paid
            <input type="text" asp-for="Paid" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Balance
            <input type="text" asp-for="TotalBalance" readonly="readonly" class="form-control-footer" />
        </div>


    </div>
</form>


@section Scripts{
    <script type="text/javascript">

        $(window).load(function () {
            ExchangeRate();
        });

        function changeItem(item) {
            var trNo = item.dataset.rowno;
            if (item.value != '-1') {
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeItem',
                    data: { id: item.value },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#detail_pdef_' + trNo + '__UOM').val(result.itmUom);
                        $('#detail_pdef_' + trNo + '__lastPrice').val(result.itmSp);
                    },
                    error: function () {
                    }
                })
            }
            else {
                $('#detail_pdef_' + trNo + '__UOM').val('');
                $('#detail_pdef_' + trNo + '__lastPrice').val('');
            }
        }

        function changeQuantityAndRate(QtyRate, Recur) {
            debugger;
            var rowNo = QtyRate.dataset.rowno;
            var ExciseSlab = $('#detail_detail_' + rowNo + '__ExciseId').val();
            var TaxSlab = $('#detail_detail_' + rowNo + '__TaxId').val();
            if (ExciseSlab != '-1') {
                if (Recur == true) {
                    $.ajax({
                        type: 'GET',
                        url: '/Transaction/changeTax',
                        data: { id: ExciseSlab },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#detail_detail_' + rowNo + '__PurExPer').val(result.taxPercent);
                            var subAmount = $('#detail_pdef_' + rowNo + '__subAmount').val();
                            $('#detail_detail_' + rowNo + '__PurExAmt').val((parseFloat(subAmount) * parseFloat(result.taxPercent) / parseFloat(100)).toFixed(2));
                            changeQuantityAndRate(QtyRate, false);
                        },
                        error: function () {
                        }
                    })
                }
            }
            else {
                $('#detail_detail_' + rowNo + '__PurExPer').val('');
                $('#detail_detail_' + rowNo + '__PurExAmt').val('');
            }

            if (TaxSlab != '-1') {
                if (Recur == true) {
                    $.ajax({
                        type: 'GET',
                        url: '/Transaction/changeTax',
                        data: { id: TaxSlab },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#detail_detail_' + rowNo + '__PurTaxPer').val(result.taxPercent);
                            var AmtAfterDisc = $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val();
                            $('#detail_detail_' + rowNo + '__PurTaxAmt').val((parseFloat(AmtAfterDisc) * parseFloat(result.taxPercent) / parseFloat(100)).toFixed(2));
                            changeQuantityAndRate(QtyRate, false);
                        },
                        error: function () {
                        }
                    })
                }
            }
            else {
                $('#detail_detail_' + rowNo + '__PurTaxPer').val('');
                $('#detail_detail_' + rowNo + '__PurTaxAmt').val('');
            }

            var ExhRate = $('#master_PurExRate').val();
            var qty = $('#detail_detail_' + rowNo + '__PurQty').val();
            var rate = $('#detail_detail_' + rowNo + '__PurRate').val();
            var ExcPercent = $('#detail_detail_' + rowNo + '__PurExPer').val();
            var discount = $('#detail_detail_' + rowNo + '__PurDiscountPer').val();
            var Vat = $('#detail_detail_' + rowNo + '__PurTaxPer').val();
            if (qty != '' && rate != '') {
                $('#detail_pdef_' + rowNo + '__subAmount').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#detail_pdef_' + rowNo + '__AmtAfterExcise').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#detail_detail_' + rowNo + '__PurNetAmt').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#detail_detail_' + rowNo + '__PurGrossAmt').val((parseFloat(qty) * parseFloat(rate) * parseFloat(ExhRate)).toFixed(2));
                var subAmount = $('#detail_pdef_' + rowNo + '__subAmount').val();
                if (ExcPercent != '') {
                    $('#detail_detail_' + rowNo + '__PurExAmt').val((parseFloat(subAmount) * parseFloat(ExcPercent) / parseFloat(100)).toFixed(2));
                    $('#detail_pdef_' + rowNo + '__AmtAfterExcise').val((parseFloat(subAmount) + ((parseFloat(subAmount) * parseFloat(ExcPercent)) / 100)).toFixed(2));
                    var afterExcise = $('#detail_pdef_' + rowNo + '__AmtAfterExcise').val();
                    $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val((parseFloat(afterExcise)).toFixed(2));
                    $('#detail_detail_' + rowNo + '__PurNetAmt').val(parseFloat(afterExcise).toFixed(2));
                    $('#detail_detail_' + rowNo + '__PurGrossAmt').val((parseFloat(afterExcise) * parseFloat(ExhRate)).toFixed(2));
                }
                if (discount != '') {
                    var amtAfterExcise = document.getElementById("detail_pdef_" + rowNo + "__AmtAfterExcise").value;
                    var discType = document.getElementById("detail_detail_" + rowNo + "__PurDisType").value;
                    if (discType == "PERCENT") {
                        $('#detail_detail_' + rowNo + '__PurDiscountAmt').val(parseFloat(amtAfterExcise * discount / 100));
                        $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val(parseFloat(amtAfterExcise - (amtAfterExcise * discount / 100)));
                    }
                    if (discType == "AMOUNT") {
                        $('#detail_detail_' + rowNo + '__PurDiscountAmt').val(parseFloat(discount));
                        $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val(parseFloat(amtAfterExcise - discount));
                    }
                    var AmtAfterDisc = $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val();
                    $('#detail_detail_' + rowNo + '__PurNetAmt').val(parseFloat(AmtAfterDisc).toFixed(2));
                    $('#detail_detail_' + rowNo + '__PurGrossAmt').val((parseFloat(AmtAfterDisc) * parseFloat(ExhRate)).toFixed(2));
                }
                else {
                    var AmtAfterExcise = $('#detail_pdef_' + rowNo + '__AmtAfterExcise').val();
                    $('#detail_detail_' + rowNo + '__PurDiscountPer').val('');
                    $('#detail_detail_' + rowNo + '__PurDiscountAmt').val('');
                    $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val(AmtAfterExcise);
                }
                if (Vat != '') {
                    var AmtAfterDisc = $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val();
                    $('#detail_detail_' + rowNo + '__PurTaxAmt').val((parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100)).toFixed(2));
                    $('#detail_detail_' + rowNo + '__PurNetAmt').val((parseFloat(AmtAfterDisc) + (parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100))).toFixed(2));
                    $('#detail_detail_' + rowNo + '__PurGrossAmt').val(((parseFloat(AmtAfterDisc) + (parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100))) * parseFloat(ExhRate)).toFixed(2));
                }
                ExchangeRate();
            }
            else {
                $('#detail_pdef_' + rowNo + '__subAmount').val('');
                $('#detail_pdef_' + rowNo + '__AmtAfterExcise').val('');
                $('#detail_pdef_' + rowNo + '__AmtAfterDiscount').val('');
                $('#detail_detail_' + rowNo + '__PurNetAmt').val('');
                $('#detail_detail_' + rowNo + '__PurGrossAmt').val('');
                ExchangeRate();
            }
        }

        function ExchangeRate() {
            debugger;
            var ExRate = $('#master_PurExRate').val();
            var rows = $('#myTable tbody tr').length;
            var subAmountTotal = 0;
            var ExciseTotal = 0;
            var TaxTotal = 0;
            var TotalDiscount = 0;
            for (var i = 0; i < rows; i++) {
                var NetAmount = $('#detail_detail_' + i + '__PurNetAmt').val();
                NetAmount = (NetAmount == '') ? 0 : NetAmount;
                var ExciseAmount = $('#detail_detail_' + i + '__PurExAmt').val();
                ExciseAmount = (ExciseAmount == '') ? 0 : ExciseAmount;
                var TaxAmount = $('#detail_detail_' + i + '__PurTaxAmt').val();
                TaxAmount = (TaxAmount == '') ? 0 : TaxAmount;
                var Amount = $('#detail_pdef_' + i + '__subAmount').val();
                Amount = (Amount == '') ? 0 : Amount;
                var Discount = $('#detail_detail_' + i + '__PurDiscountAmt').val();
                Discount = (Discount == '') ? 0 : Discount;
                if (NetAmount != '') {
                    $('#detail_detail_' + i + '__PurGrossAmt').val((parseFloat(NetAmount) * parseFloat(ExRate)).toFixed(2));
                    subAmountTotal += parseFloat(Amount);
                    ExciseTotal += parseFloat(ExciseAmount);
                    TaxTotal += parseFloat(TaxAmount);
                    TotalDiscount += parseFloat(Discount);
                }
            }
            $('#SubTotal').val(subAmountTotal);
            $('#ExciseTax').val(ExciseTotal);
            $('#VAT').val(TaxTotal);
            $('#TotalAmount').val(parseFloat(subAmountTotal + ExciseTotal + TaxTotal - TotalDiscount));
            
            debugger;
            $.ajax({
                type: 'GET',
                url: '/Transaction/purchaseTotalAmount',
                data: { RefCode: $('#master_PurPoref').val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result != undefined) { $('#Paid').val(result); } else { $('#Paid').val('0');}
                    if ($('#master_PurPayTerm').val() == "CREDIT") {
                        $('#TotalBalance').val((parseFloat($('#TotalAmount').val()) - parseFloat($('#Advance').val()) - parseFloat($('#Paid').val())));
                        alert($('#TotalAmount').val());
                    }
                    else {
                        $('#Paid').val($('#TotalAmount').val());
                        $('#TotalBalance').val('0');
                    }
                },
                error: function () {
                }
            })

        }

        function AddRow() {
            var rowCount = $('#myTable tr').length;
            rowCount = rowCount - 1;
            var dropDown = document.getElementById('detail_detail_0__ItmId').innerHTML;
            $('#myTable').append('<tr><td><select class="form-control" onchange="InventoryChange(this)" id="ddobj_' + rowCount + '__InvCode" name="ddobj[' + rowCount + '].InvCode">' + dropDown + '</select></td><td><input type="text" id="ddobj_' + rowCount + '__RcpWaste" name="ddobj[' + rowCount + '].RcpWaste" onblur="wastechange(this)"  class="form-control" /></td><td><input type="text" id="ddobj_' + rowCount + '__RcpOutput" name="ddobj[' + rowCount + '].RcpOutput"  class="form-control" /></td><td><input type="text" id="ddobj_' + rowCount + '__RcpMix" name="ddobj[' + rowCount + '].RcpMix"  class="form-control" /></td><td><input type="text" id="ddobj_' + rowCount + '__RcpSubRemarks" name="ddobj[' + rowCount + '].RcpSubRemarks"  class="form-control" /></td></tr>')
            $('#ddobj_' + rowCount + '__InvCode').attr('Selected', true).val("-1");
        }

        $(document).ready(function () {
            $('#Save').on('click', function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                var TRTotalAmount = $('#TotalAmount').val();
                if (parseFloat(TRTotalAmount) < 0) {
                    alert('Cannot Save Negative Transaction!');
                    event.preventDefault();
                }
                if ($('#master_PurPayTerm').val() == 'CREDIT' && $('#master_BnkId').val() == '-1') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if ($('#master_PurPayTerm').val() == 'CREDIT' && parseFloat($('#Advance').val()) != 0 && $('#master_BnkId').val() == '-1') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if (parseFloat($('#master_PurExRate').val()) == 0) {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                }
                for (var i = 0; i < rowCount; i++) {
                    if ($('#detail_detail_' + i + '__PurQty').val() != '' &&
                        $('#detail_detail_' + i + '__PurRate').val() != '' &&
                        $('#detail_detail_' + i + '__ItmId').val() != '-1') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Item or Enter Quantity or Rate!');
                    event.preventDefault();
                }
            })
        })

        $(document).ready(function () {
            $('#Update').on('click', function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                var TRTotalAmount = $('#TotalAmount').val();
                if (parseFloat(TRTotalAmount) < 0) {
                    alert('Cannot Save Negative Transaction!');
                    event.preventDefault();
                }
                if ($('#master_PurPayTerm').val() == 'CREDIT' && $('#master_BnkId').val() == '-1') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if ($('#master_PurPayTerm').val() == 'CREDIT' && parseFloat($('#Advance').val()) != 0 && $('#master_BnkId').val() == '-1') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if (parseFloat($('#master_PurExRate').val()) == 0) {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                }
                for (var i = 0; i < rowCount; i++) {
                    if ($('#detail_detail_' + i + '__PurQty').val() != '' &&
                        $('#detail_detail_' + i + '__PurRate').val() != '' &&
                        $('#detail_detail_' + i + '__ItmId').val()!='-1') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Item or Enter Quantity or Rate!');
                    event.preventDefault();
                }
            })
        })

        $(document).ready(function () {
            $('#master_PurPayTerm').change(function () {
                var term = $('#master_PurPayTerm').val();
                var Account = "<option>Select</option>";
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeTerm',
                    data: { Term: term },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            Account += "<option value='" + result[i].coaid + "'>" + result[i].accName + "</option>";
                        }
                        $('#master_Coaid option').remove();
                        $('#master_Coaid').append(Account);
                    },
                    error: function () {
                    }
                })
                debugger;
                if (term == 'CREDIT') {
                    $('#Advance').removeAttr("readonly");
                    if (parseFloat($('#Advance').val()) > (parseFloat($('#TotalAmount').val() - parseFloat($('#Paid').val())))) {
                        $('#Advance').val('0');
                    }
                    //ExchangeRate();
                }
                else {
                    $('#Advance').val('0');
                    if (parseFloat($('#Advance').val()) > (parseFloat($('#TotalAmount').val() - parseFloat($('#Paid').val())))) {
                        $('#Advance').val('0');
                    }
                    //ExchangeRate();
                    $('#Advance').attr('readonly', 'readonly');
                    $('#master_PurChqNo').val('');
                    $('#master_PurChqDate').val('');
                }
            })
        })

        $(document).ready(function () {
            $('#Advance').change(function () {
                if ($('#Advance').val() > (parseFloat($('#TotalAmount').val()) - parseFloat($('#Paid').val()))) { $('#Advance').val('0') }
                ExchangeRate();
            })
        })

    </script>

}
