@model Taxtation.ViewModel.TXTSaleDetailView

@{
    ViewData["Title"] = "Sale";
    var index = 5;
    if (Model.Detail.saleDetail != null)
    {
        index = Model.Detail.saleDetail.Count;
    }
}
<form asp-action="Sale" asp-controller="Transaction" method="post">
    <div class="row" style="position:fixed;padding-top:10px;z-index:2;background-color:#EEEEEE;left:0;right:0">
        <div class="col-sm-12" style="padding-left:8.2%;">
            @if (ViewData["_Save"].ToString() == "True")
            {
                <button type="submit" name="Save" id="Save" value="Save" style="background-image:url(../images/button/Save.png)" class="btnControlDML">Save</button>
            }
            @if (ViewData["_Update"].ToString() == "True")
            {
                <button type="submit" name="Update" id="Update" value="Update" style="background-image:url(../images/button/Update.png)" class="btnControlDML">Update</button>
                <button type="submit" name="Delete" id="Delete" value="Delete" style="background-image:url(../images/button/Delete.png)" class="btnControlDML">Delete</button>
                <button type="submit" name="Report" id="Report" value="Report" style="background-image:url(../images/button/Report.png)" class="btnControlDML">Report</button>
            }
            <div style="float:right;padding-right:8.3%">
                <a asp-action="showSale" asp-controller="Transaction" style="background-image:url(../images/button/back.png)" class="btnControlDML">Back</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" asp-for="master.SalId" class="form-control" hidden="hidden" />
        </div>
    </div>
    <div class="row" style="padding-top:70px;z-index:1">
        <div class="col-md-3">
            Sale Order:
            <input type="text" asp-for="master.SalSoRef" class="form-control" />
        </div>
        <div class="col-md-3">
            Transaction Date:
            <input type="date" asp-for="master.SalDate" class="form-control" />
        </div>
        <div class="col-md-3">
            Term:
            <select asp-for="master.SalPayTerms" class="form-control">
                <option value="CREDIT">CREDIT</option>
                <option value="CASH">CASH</option>
                <option value="BANK">BANK</option>
            </select>

        </div><div class="col-md-3">
            Cash/Bank:
            <select asp-for="master.Coaid" class="form-control">
                <option value="">Select</option>
                @foreach (var j in Model.lstAccount)
                {
                    <option value=@j.Coaid>@j.AccName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">


        <div class="col-md-3">
            Cheque/Ref No:
            <input type="text" asp-for="master.SalChqNo" class="form-control" />
        </div>
        <div class="col-md-3">
            Cheque Date:
            <input type="date" asp-for="master.SalChqDate" class="form-control" />
        </div> <div class="col-md-3">
            Purchase Type:
            <select asp-for="master.SalType" class="form-control">
                <option value="LOCAL">LOCAL</option>
                <option value="IMPORT">IMPORT</option>
                <option value="EXEMPT">EXEMPT</option>
            </select>
        </div>
        <div class="col-md-3">
            Item Type:
            <select asp-for="master.SalItemType" class="form-control">
                <option value="LOCAL">LOCAL</option>
                <option value="IMPORT">IMPORTED</option>
            </select>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            Exchange Rate:
            <input type="number" asp-for="master.SalExRate" onchange="ExchangeRate()" value="1" class="form-control" />
        </div> <div class="col-md-3">
            Site:
            <select asp-for="master.SitId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstSite)
                {
                    <option value=@j.SitId>@j.SitName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Store Name:
            <select asp-for="master.StrId" class="form-control" onchange="storeChange()" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstStore)
                {
                    <option value=@j.StrId>@j.StrName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Customer Name:
            <select asp-for="master.CusId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstCustomer)
                {
                    <option value=@j.CusId>@j.CusName</option>
                }
            </select>
        </div>
        <div class="row">


        </div>
    </div>
    <div class="row">


        <div class="col-md-3">
            Currency:
            <select asp-for="master.CurId" class="form-control" required="required">
                <option value="">Select</option>
                @foreach (var j in Model.lstCurrency)
                {
                    <option value=@j.CurId>@j.CurName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Remarks:
            <input type="text" asp-for="master.SalRemarks" class="form-control" />
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-3">
            <button id="addNewRow" class="form-control">Add New Row</button>
        </div>
        <div class="col-lg-9"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12" style="overflow-x:scroll;">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:230px;">Item</th>
                        <th style="width:70px;">Bar Code</th>
                        <th style="width:70px;">UOM</th>
                        <th style="width:120px;">Last Price</th>
                        <th style="width:120px;">Stock Quantity</th>
                        <th style="width:120px;">Quantity</th>
                        <th style="width:120px;">Price</th>
                        <th style="width:120px;">Sub. Amount</th>
                        <th style="width:230px;">Excise Slab</th>
                        <th style="width:120px;">Excise Percent</th>
                        <th style="width:120px;">Excise Amount</th>
                        <th style="width:120px;">Amt. After Excise</th>
                        <th style="width:120px;">Disc. Type</th>
                        <th style="width:120px;">Disc.</th>
                        <th style="width:120px;">Disc. Amount</th>
                        <th style="width:120px;">Amt. After Disc.</th>
                        <th style="width:230px;">VAT Slab</th>
                        <th style="width:120px;">VAT Percent</th>
                        <th style="width:120px;">VAT Amount</th>
                        <th style="width:120px;">Net Amount</th>
                        <th style="width:120px;">Exc. Amount</th>
                        <th style="width:230px;">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < index; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="Detail.saleDetail[i].ItmId" onchange="changeItem(this)" data-rowNo=@i class="form-control" style="width:230px;">
                                    <option value="-1">Select</option>@foreach (var j in Model.lstItem)
                                    {
                                        <option value=@j.ItmId>@j.ItmName</option>}
                                </select>
                            </td>
                            <td><input type="text" asp-for="Detail.sale[i].BarCode" readonly="readonly" class="form-control" style="width:70px;" /></td>
                            <td><input type="text" asp-for="Detail.sale[i].UOM" readonly="readonly" class="form-control" style="width:70px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.sale[i].LastPrice" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" asp-for="Detail.sale[i].StockQuantity" readonly="readonly" class="form-control" style="width:70px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalQty" data-rowNo=@i onchange="changeQuantityAndRate(this)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalRate" data-rowNo=@i onchange="changeQuantityAndRate(this)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.sale[i].Amount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td>
                                <select asp-for="Detail.saleDetail[i].ExciseId" class="form-control" data-rowNo=@i onchange="changeQuantityAndRate(this)" style="width:230px;">
                                    <option value="-1">Select</option>@foreach (var j in Model.lstExcise)
                                    {
                                        <option value=@j.TaxId>@j.TaxName</option>}
                                </select>
                            </td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalExcisePer" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalExAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.sale[i].AmtAfterExcise" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><select asp-for="Detail.saleDetail[i].SalDisType" data-rowNo=@i onchange="changeQuantityAndRate(this)" class="form-control" style="width:120px;"><option value="PERCENT">PERCENT</option><option value="AMOUNT">AMOUNT</option></select></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalDiscPer" data-rowNo=@i onchange="changeQuantityAndRate(this)" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalDiscAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.sale[i].AmtAfterDiscount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td>
                                <select asp-for="Detail.saleDetail[i].TaxId" data-rowNo=@i onchange="changeQuantityAndRate(this)" class="form-control" style="width:230px;">
                                    <option value="-1">Select</option> @foreach (var j in Model.lstTax)
                                    {
                                        <option value=@j.TaxId>@j.TaxName</option>}
                                </select>
                            </td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalVatper" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalTaxAmount" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalNetAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="number" step="any" asp-for="Detail.saleDetail[i].SalGrossAmt" readonly="readonly" class="form-control" style="width:120px;" /></td>
                            <td><input type="text" asp-for="Detail.saleDetail[i].SalSubRemarks" class="form-control" style="width:230px;" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row" style="position:sticky;z-index:1;color:#000000;right:0;">
        <div class="col-md-2">
            Sub Total
            <input type="text" asp-for="SubTotal" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-1">
            Exise Tax
            <input type="text" asp-for="ExciseTax" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-1">
            Vat
            <input type="text" asp-for="VAT" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Total
            <input type="text" asp-for="TotalAmount" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Advance
            <input type="text" asp-for="Advance" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Paid
            <input type="text" asp-for="Paid" readonly="readonly" class="form-control-footer" />
        </div>
        <div class="col-md-2">
            Balance
            <input type="text" asp-for="TotalBalance" readonly="readonly" class="form-control-footer" />
        </div>
    </div>
</form>


@section Scripts{

    <script type="text/javascript">
        $(window).load(function () {
            ExchangeRate();
        });

        $('#addNewRow').click(function (event) {
            var rowCount = $('#myTable tbody tr').length;
            var dropDownItm = document.getElementById('Detail_saleDetail_0__ItmId').innerHTML;
            var dropDownExcise = document.getElementById('Detail_saleDetail_0__ExciseId').innerHTML;
            var dropDownTax = document.getElementById('Detail_saleDetail_0__TaxId').innerHTML;
            $('#myTable').append('<tr><td><select onchange="changeItem(this)" data-rowno="' + rowCount + '" class="form-control" style="width:230px;" id="Detail_saleDetail_' + rowCount + '__ItmId" name="Detail.saleDetail[' + rowCount + '].ItmId">' + dropDownItm + '</select ></td><td><input type="text" readonly="readonly" class="form-control" style="width:70px;" id="Detail_sale_' + rowCount + '__BarCode" name="Detail.sale[' + rowCount + '].BarCode" value=""></td><td><input type="text" readonly="readonly" class="form-control" style="width:70px;" id="Detail_sale_' + rowCount + '__UOM" name="Detail.sale[' + rowCount + '].UOM" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field LastPrice must be a number." id="Detail_sale_' + rowCount + '__LastPrice" name="Detail.sale[' + rowCount + '].LastPrice" value=""></td><td><input type="number" readonly="readonly" class="form-control" style="width:70px;" data-val="true" data-val-number="The field StockQuantity must be a number." id="Detail_sale_' + rowCount + '__StockQuantity" name="Detail.sale[' + rowCount + '].StockQuantity" value=""></td><td><input type="number" step="any" data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalQty must be a number." id="Detail_saleDetail_' + rowCount + '__SalQty" name="Detail.saleDetail[' + rowCount + '].SalQty" value=""></td><td><input type="number" step="any" data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalRate must be a number." id="Detail_saleDetail_' + rowCount + '__SalRate" name="Detail.saleDetail[' + rowCount + '].SalRate" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field Amount must be a number." id="Detail_sale_' + rowCount + '__Amount" name="Detail.sale[' + rowCount + '].Amount" value=""></td><td><select class="form-control" data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" style="width:230px;" id="Detail_saleDetail_' + rowCount + '__ExciseId" name="Detail.saleDetail[' + rowCount + '].ExciseId">' + dropDownExcise + '</select ></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalExcisePer must be a number." id="Detail_saleDetail_' + rowCount + '__SalExcisePer" name="Detail.saleDetail[' + rowCount + '].SalExcisePer" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalExAmt must be a number." id="Detail_saleDetail_' + rowCount + '__SalExAmt" name="Detail.saleDetail[' + rowCount + '].SalExAmt" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field AmtAfterExcise must be a number." id="Detail_sale_' + rowCount + '__AmtAfterExcise" name="Detail.sale[' + rowCount + '].AmtAfterExcise" value=""></td><td><select data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" class="form-control" style="width:120px;" id="Detail_saleDetail_' + rowCount + '__SalDisType" name="Detail.saleDetail[' + rowCount + '].SalDisType"><option value="PERCENT">PERCENT</option><option value="AMOUNT">AMOUNT</option></select></td><td><input type="number" step="any" data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalDiscPer must be a number." id="Detail_saleDetail_' + rowCount + '__SalDiscPer" name="Detail.saleDetail[' + rowCount + '].SalDiscPer" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalDiscAmt must be a number." id="Detail_saleDetail_' + rowCount + '__SalDiscAmt" name="Detail.saleDetail[' + rowCount + '].SalDiscAmt" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field AmtAfterDiscount must be a number." id="Detail_sale_' + rowCount + '__AmtAfterDiscount" name="Detail.sale[' + rowCount + '].AmtAfterDiscount" value=""></td><td><select data-rowno="' + rowCount + '" onchange="changeQuantityAndRate(this, true)" class="form-control" style="width:230px;" id="Detail_saleDetail_' + rowCount + '__TaxId" name="Detail.saleDetail[' + rowCount + '].TaxId">' + dropDownTax + '</select ></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalVatper must be a number." id="Detail_saleDetail_' + rowCount + '__SalVatper" name="Detail.saleDetail[' + rowCount + '].SalVatper" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalTaxAmount must be a number." id="Detail_saleDetail_' + rowCount + '__SalTaxAmount" name="Detail.saleDetail[' + rowCount + '].SalTaxAmount" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalNetAmt must be a number." id="Detail_saleDetail_' + rowCount + '__SalNetAmt" name="Detail.saleDetail[' + rowCount + '].SalNetAmt" value=""></td><td><input type="number" step="any" readonly="readonly" class="form-control" style="width:120px;" data-val="true" data-val-number="The field SalGrossAmt must be a number." id="Detail_saleDetail_' + rowCount + '__SalGrossAmt" name="Detail.saleDetail[' + rowCount + '].SalGrossAmt" value=""></td><td><input type="text" class="form-control" style="width:230px;" id="Detail_saleDetail_' + rowCount + '__SalSubRemarks" name="Detail.saleDetail[' + rowCount + '].SalSubRemarks" value=""></td></td></tr>')
            $('#Detail_saleDetail_' + rowCount + '__ItmId').attr('Selected', true).val("-1");
            $('#Detail_saleDetail_' + rowCount + '__ExciseId').attr('Selected', true).val("-1");
            $('#Detail_saleDetail_' + rowCount + '__TaxId').attr('Selected', true).val("-1");
            event.preventDefault();
        })

        function storeChange() {
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {
                if ($('#Detail_saleDetail_' + i + '__ItmId').val() != '-1' && $('#master_StrId').val() != '') {
                    $.ajax({
                        type: 'GET',
                        url: '/Transaction/itemQuantity',
                        data: { ItmId: $('#Detail_saleDetail_' + i + '__ItmId').val(), StrId: $('#master_StrId').val() },
                        async: false,
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result != undefined) {
                                $('#Detail_sale_' + i + '__StockQuantity').val(result);
                            }
                            else { $('#Detail_sale_' + i + '__StockQuantity').val(''); }
                        },
                        error: function () {
                        }
                    })
                }
                else { $('#Detail_sale_' + i + '__StockQuantity').val(''); }

            }
        }


        function changeItem(item) {
            var trNo = item.dataset.rowno;
            debugger;

            var _repeatItem = false;
            var rowCount = $('#myTable tbody tr').length;
            if ($('#Detail_saleDetail_' + trNo + '__ItmId').val() == '-1') {
                $('#Detail_sale_' + trNo + '__BarCode').val('');
                $('#Detail_sale_' + trNo + '__UOM').val('');
                $('#Detail_sale_' + trNo + '__LastPrice').val('');
                $('#Detail_sale_' + trNo + '__StockQuantity').val('');
                return;
            }
            for (var i = 0; i < rowCount; i++) {

                if ($('#Detail_saleDetail_' + i + '__ItmId').val() == item.value && trNo != i) {
                    _repeatItem = true;
                    $('#Detail_saleDetail_' + trNo + '__ItmId').attr('Selected', true).val("-1");
                    break;
                }

            }
            if (_repeatItem == false) {
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeItem',
                    data: { id: item.value },
                    dataType: 'json',
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#Detail_sale_' + trNo + '__BarCode').val(result.itmBcode);
                        $('#Detail_sale_' + trNo + '__UOM').val(result.itmUom);
                        $('#Detail_sale_' + trNo + '__LastPrice').val(result.itmSp);
                        $.ajax({
                            type: 'GET',
                            url: '/Transaction/itemQuantity',
                            data: { ItmId: $('#Detail_saleDetail_' + trNo + '__ItmId').val(), StrId: $('#master_StrId').val() },
                            async: false,
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            success: function (stQuantity) {
                                if (stQuantity != undefined) {
                                    $('#Detail_sale_' + trNo + '__StockQuantity').val(stQuantity);
                                }
                                else { $('#Detail_sale_' + trNo + '__StockQuantity').val(0); }
                            },
                            error: function () {
                            }
                        })
                    },
                    error: function () {
                    }
                })
            }
            else {
                $('#Detail_sale_' + trNo + '__BarCode').val('');
                $('#Detail_sale_' + trNo + '__UOM').val('');
                $('#Detail_sale_' + trNo + '__LastPrice').val('');
                $('#Detail_sale_' + trNo + '__StockQuantity').val('');
            }

        }

        function changeQuantityAndRate(QtyRate) {
            debugger;
            var rowNo = QtyRate.dataset.rowno;

            var ExciseSlab = $('#Detail_saleDetail_' + rowNo + '__ExciseId').val();
            var TaxSlab = $('#Detail_saleDetail_' + rowNo + '__TaxId').val();
            if (ExciseSlab != '-1') {
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeTax',
                    data: { id: ExciseSlab },
                    dataType: 'json',
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#Detail_saleDetail_' + rowNo + '__SalExcisePer').val(result.taxPercent);
                        var subAmount = $('#Detail_sale_' + rowNo + '__Amount').val();
                        $('#Detail_saleDetail_' + rowNo + '__SalExAmt').val((parseFloat(subAmount) * parseFloat(result.taxPercent) / parseFloat(100)).toFixed(2));

                    },
                    error: function () {
                    }
                })
            }
            else {
                $('#Detail_saleDetail_' + rowNo + '__SalExcisePer').val('');
                $('#Detail_saleDetail_' + rowNo + '__SalExAmt').val('');
            }

            if (TaxSlab != '-1') {
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeTax',
                    data: { id: TaxSlab },
                    async: false,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $('#Detail_saleDetail_' + rowNo + '__SalVatper').val(result.taxPercent);
                        var AmtAfterDisc = $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val();
                        $('#Detail_saleDetail_' + rowNo + '__SalTaxAmount').val((parseFloat(AmtAfterDisc) * parseFloat(result.taxPercent) / parseFloat(100)).toFixed(2));

                    },
                    error: function () {
                    }
                })
            }
            else {
                $('#Detail_saleDetail_' + rowNo + '__SalVatper').val('');
                $('#Detail_saleDetail_' + rowNo + '__SalTaxAmount').val('');
            }


            if ($('#Detail_saleDetail_' + rowNo + '__SalQty').val() > $('#Detail_sale_' + rowNo + '__StockQuantity').val()) { $('#Detail_saleDetail_' + rowNo + '__SalQty').val('') }
            var ExhRate = $('#master_SalExRate').val();
            var qty = $('#Detail_saleDetail_' + rowNo + '__SalQty').val();
            var rate = $('#Detail_saleDetail_' + rowNo + '__SalRate').val();
            var ExcPercent = $('#Detail_saleDetail_' + rowNo + '__SalExcisePer').val();
            var discount = $('#Detail_saleDetail_' + rowNo + '__SalDiscPer').val();
            var Vat = $('#Detail_saleDetail_' + rowNo + '__SalVatper').val();



            if (qty != '' && rate != '') {
                $('#Detail_sale_' + rowNo + '__Amount').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#Detail_sale_' + rowNo + '__AmtAfterExcise').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#Detail_saleDetail_' + rowNo + '__SalNetAmt').val((parseFloat(qty) * parseFloat(rate)).toFixed(2));
                $('#Detail_saleDetail_' + rowNo + '__SalGrossAmt').val((parseFloat(qty) * parseFloat(rate) * parseFloat(ExhRate)).toFixed(2));
                var subAmount = $('#Detail_sale_' + rowNo + '__Amount').val();
                if (ExcPercent != '') {
                    $('#detail_detail_' + rowNo + '__PurExAmt').val((parseFloat(subAmount) * parseFloat(ExcPercent) / parseFloat(100)).toFixed(2));
                    $('#Detail_sale_' + rowNo + '__AmtAfterExcise').val((parseFloat(subAmount) + ((parseFloat(subAmount) * parseFloat(ExcPercent)) / 100)).toFixed(2));
                    var afterExcise = $('#Detail_sale_' + rowNo + '__AmtAfterExcise').val();
                    $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val((parseFloat(afterExcise)).toFixed(2));
                    $('#Detail_saleDetail_' + rowNo + '__SalNetAmt').val(parseFloat(afterExcise).toFixed(2));
                    $('#Detail_saleDetail_' + rowNo + '__SalGrossAmt').val((parseFloat(afterExcise) * parseFloat(ExhRate)).toFixed(2));
                }
                if (discount != '') {
                    var amtAfterExcise = document.getElementById("Detail_sale_" + rowNo + "__AmtAfterExcise").value;
                    var discType = document.getElementById("Detail_saleDetail_" + rowNo + "__SalDisType").value;
                    if (discType == "PERCENT") {
                        $('#Detail_saleDetail_' + rowNo + '__SalDiscAmt').val(parseFloat(amtAfterExcise * discount / 100));
                        $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val(parseFloat(amtAfterExcise - (amtAfterExcise * discount / 100)));
                    }
                    if (discType == "AMOUNT") {
                        $('#Detail_saleDetail_' + rowNo + '__SalDiscAmt').val(parseFloat(discount));
                        $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val(parseFloat(amtAfterExcise - discount));
                    }
                    var AmtAfterDisc = $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val();
                    $('#Detail_saleDetail_' + rowNo + '__SalNetAmt').val(parseFloat(AmtAfterDisc).toFixed(2));
                    $('#Detail_saleDetail_' + rowNo + '__SalGrossAmt').val((parseFloat(AmtAfterDisc) * parseFloat(ExhRate)).toFixed(2));
                }
                else {
                    var AmtAfterExcise = $('#Detail_sale_' + rowNo + '__AmtAfterExcise').val();
                    $('#Detail_saleDetail_' + rowNo + '__SalDiscPer').val('');
                    $('#Detail_saleDetail_' + rowNo + '__SalDiscAmt').val('');
                    $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val(AmtAfterExcise);
                }
                if (Vat != '') {
                    var AmtAfterDisc = $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val();
                    $('#Detail_saleDetail_' + rowNo + '__SalTaxAmount').val((parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100)).toFixed(2));
                    $('#Detail_saleDetail_' + rowNo + '__SalNetAmt').val((parseFloat(AmtAfterDisc) + (parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100))).toFixed(2));
                    $('#Detail_saleDetail_' + rowNo + '__SalGrossAmt').val(((parseFloat(AmtAfterDisc) + (parseFloat(AmtAfterDisc) * parseFloat(Vat) / parseFloat(100))) * parseFloat(ExhRate)).toFixed(2));
                }
                ExchangeRate();
            }
            else {
                $('#Detail_sale_' + rowNo + '__Amount').val('');
                $('#Detail_sale_' + rowNo + '__AmtAfterExcise').val('');
                $('#Detail_sale_' + rowNo + '__AmtAfterDiscount').val('');
                $('#Detail_saleDetail_' + rowNo + '__SalNetAmt').val('');
                $('#Detail_saleDetail_' + rowNo + '__SalGrossAmt').val('');
                ExchangeRate();
            }
        }

        function ExchangeRate() {
            debugger;
            var ExRate = $('#master_SalExRate').val();
            var rows = $('#myTable tbody tr').length;
            var subAmountTotal = 0;
            var ExciseTotal = 0;
            var TaxTotal = 0;
            var TotalDiscount = 0;
            for (var i = 0; i < rows; i++) {
                var NetAmount = $('#Detail_saleDetail_' + i + '__SalNetAmt').val();
                NetAmount = (NetAmount == '') ? 0 : NetAmount;
                var ExciseAmount = $('#Detail_saleDetail_' + i + '__SalExAmt').val();
                ExciseAmount = (ExciseAmount == '') ? 0 : ExciseAmount;
                var TaxAmount = $('#Detail_saleDetail_' + i + '__SalTaxAmount').val();
                TaxAmount = (TaxAmount == '') ? 0 : TaxAmount;
                var Amount = $('#Detail_sale_' + i + '__Amount').val();
                Amount = (Amount == '') ? 0 : Amount;
                var Discount = $('#Detail_saleDetail_' + i + '__SalDiscAmt').val();
                Discount = (Discount == '') ? 0 : Discount;
                if (NetAmount != '') {
                    $('#Detail_saleDetail_' + i + '__SalGrossAmt').val((parseFloat(NetAmount) * parseFloat(ExRate)).toFixed(2));
                    subAmountTotal += parseFloat(Amount);
                    ExciseTotal += parseFloat(ExciseAmount);
                    TaxTotal += parseFloat(TaxAmount);
                    TotalDiscount += parseFloat(Discount);
                }

            }
            $('#SubTotal').val(subAmountTotal);
            $('#ExciseTax').val(ExciseTotal);
            $('#VAT').val(TaxTotal);
            $('#TotalAmount').val((parseFloat(subAmountTotal + ExciseTotal + TaxTotal - TotalDiscount) * parseFloat(ExRate)).toFixed(2));

            $.ajax({
                type: 'GET',
                url: '/Transaction/saleTotalAmount',
                data: { RefCode: $('#master_SalSoRef').val() },
                dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result != '') { $('#Paid').val(result); } else { $('#Paid').val('0'); }
                },
                error: function () {
                    alert('Error');
                }
            })
            debugger;
            var TAmount = $('#TotalAmount').val(); var TAdvance = $('#Advance').val(); var TPaid = $('#Paid').val();
            if ($('#master_SalPayTerms').val() == "CREDIT") {
                $('#TotalBalance').val((parseFloat(TAmount) - parseFloat(TAdvance) - parseFloat(TPaid)));
            }
            else {
                $('#TotalBalance').val('0');
                $('#Paid').val(TAmount);
            }

        }

        $(document).ready(function () {
            $('#Save').click(function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                if ($('#TotalAmount').val() < 0) {
                    alert('Cannot Save Negative Transaction!');
                    event.preventDefault();
                }

                if (parseFloat($('#master_SalExRate').val()) == 0 || $('#master_SalExRate').val() == '') {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                }

                if ($('#master_SalPayTerms').val() == 'CREDIT' && $('#master_Coaid').val() == '') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if ($('#master_SalPayTerms').val() == 'CREDIT' && parseFloat($('#Advance').val()) != 0 && $('#master_Coaid').val() == '') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }

                for (var i = 0; i < rowCount; i++) {
                    if ($('#Detail_saleDetail_' + i + '__SalQty').val() != '' &&
                        $('#Detail_saleDetail_' + i + '__SalRate').val() != '' &&
                        $('#Detail_saleDetail_' + i + '__ItmId').val() != '-1') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Item or Enter Quantity or Rate!');
                    event.preventDefault();
                }
            })
        })

        $(document).ready(function () {
            $('#Update').click(function (event) {
                var count = 0;
                var rowCount = $('#myTable tbody tr').length;
                if ($('#TotalAmount').val() < 0) {
                    alert('Cannot Save Negative Transaction!');
                    event.preventDefault();
                }

                if (parseFloat($('#master_SalExRate').val()) == 0 || $('#master_SalExRate').val() == '') {
                    alert('Please Enter Valid Exchange Rate!');
                    event.preventDefault();
                }

                if ($('#master_SalPayTerms').val() == 'CREDIT' && $('#master_Coaid').val() == '') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }
                if ($('#master_SalPayTerms').val() == 'CREDIT' && parseFloat($('#Advance').val()) != 0 && $('#master_Coaid').val() == '') {
                    alert('Please Select Cash / Bank!');
                    event.preventDefault();
                }

                for (var i = 0; i < rowCount; i++) {
                    if ($('#Detail_saleDetail_' + i + '__SalQty').val() != '' &&
                        $('#Detail_saleDetail_' + i + '__SalRate').val() != '' &&
                        $('#Detail_saleDetail_' + i + '__ItmId').val() != '-1') {
                        count++;
                    }
                }
                if (parseFloat(count) == 0) {
                    alert('Please Select Item or Enter Quantity or Rate!');
                    event.preventDefault();
                }
            })
        })

        $(document).ready(function () {
            $('#Advance').change(function () {
                if ($('#Advance').val() > (parseFloat($('#TotalAmount').val()) - parseFloat($('#Paid').val()))) { $('#Advance').val('0') }
                ExchangeRate();
            })
        })

        $(document).ready(function () {
            $('#master_SalPayTerms').change(function () {
                var term = $('#master_SalPayTerms').val();
                var Account = "<option value=''>Select</option>";
                $.ajax({
                    type: 'GET',
                    url: '/Transaction/changeTerm',
                    data: { Term: term },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            Account += "<option value='" + result[i].coaid + "'>" + result[i].accName + "</option>";
                        }
                        $('#master_Coaid option').remove();
                        $('#master_Coaid').append(Account);
                    },
                    error: function () {
                    }
                })
                debugger;
                if (term == 'CREDIT') {
                    $('#Advance').removeAttr("readonly");
                    if (parseFloat($('#Advance').val()) > (parseFloat($('#TotalAmount').val() - parseFloat($('#Paid').val())))) {
                        $('#Advance').val('0');
                    }
                    ExchangeRate();
                }
                else {
                    $('#Advance').val('0');
                    if (parseFloat($('#Advance').val()) > (parseFloat($('#TotalAmount').val() - parseFloat($('#Paid').val())))) {
                        $('#Advance').val('0');
                    }
                    ExchangeRate();
                    $('#Advance').attr('readonly', 'readonly');
                    $('#master_PurChqNo').val('');
                    $('#master_PurChqDate').val('');
                }
            })
        })
        if ($('#master_SalPayTerms').val() == 'CREDIT') { $('#Advance').removeAttr("readonly"); } else { $('#Advance').attr('readonly', 'readonly'); }



    </script>

}

