@model Taxtation.ViewModel.TXTPurchaseDetailView
@{
    ViewData["Title"] = "List Purchase Detail";
    var query = from mas in Model.lstMaster
                join det in Model.detail.detail on mas.PurId equals det.PurId
                join item in Model.lstItem on det.ItmId equals item.ItmId into items
                from item in items.DefaultIfEmpty()
                join bank in Model.lstBank on mas.BnkId equals bank.BnkId into banks
                from bank in banks.DefaultIfEmpty()
                join currency in Model.lstCurrency on mas.CurId equals currency.CurId into currencies
                from currency in currencies.DefaultIfEmpty()
                join supplier in Model.lstSupplier on mas.SupId equals supplier.SupId into suppliers
                from supplier in suppliers.DefaultIfEmpty()
                join store in Model.lstStore on mas.StrId equals store.StrId into stores
                from store in stores.DefaultIfEmpty()
                select new { mas, det, item, bank, currency, supplier, store };
}

<div class="MainDiv">
    <div>
        <h2>List Purchase Detail</h2>
    </div>
    <div style="float:left;">
        <a asp-action="Purchase" asp-controller="Transaction" AccessKey="A" class="form-control-btn" style="width:100px;">A̲DD NEW</a>
    </div>
    <div style="text-align:right;width:100px;float:left;padding-left:2px;padding-right:1px;">@Html.ActionLink("R̲EPORT", "PrintAllPurchase", "Reports", new { }, new { target = "_blank", @class = "form-control-btn", @accesskey = "R" })</div>
    <div style="float:left;">
        <a asp-action="Purchase" asp-controller="Home" AccessKey="B" class="form-control-btn" style="width:100px;">B̲ACK</a>
    </div>
    <div style="float:right;">
        <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search..." title="Search..." style="width:330px;">
    </div>
</div>
<div class="GridStyle">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr style="white-space:nowrap;">
                <th></th>
                <th>PO No</th>
                <th>PO Date</th>
                <th>Supplier</th>
                <th>Purchase Type</th>
                <th>Payment Term</th>
                <th>Bank/Cash</th>
                <th>Cheque No</th>
                <th>Cheque Date</th>
                <th>Currency</th>
                <th>Store</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Prices</th>
                <th>Net Amount</th>
                <th>Paid Amount</th>
                <th>Balance Amount</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var j in query)
            {
            <tr style="white-space:nowrap;">
                <td>@Html.ActionLink("Edit", "Purchase", "Transaction", new { id = j.mas.PurId }, new { @class = "form-control-btn-edit" })</td>
                <td>@Html.DisplayFor(modelItem => j.mas.PurPoref)</td>
                <td>@Convert.ToString(string.Format("{0:dd-MMM-yyyy}", j.mas.PurDate))</td>
                <td>@Html.DisplayFor(modelItem => j.supplier.SupName)</td>
                <td>@Html.DisplayFor(modelItem => j.mas.PurType)</td>
                <td>@Html.DisplayFor(modelItem => j.mas.PurPayTerm)</td>
                <td>@Html.DisplayFor(modelItem => j.bank.BnkName)</td>
                <td>@Html.DisplayFor(modelItem => j.mas.PurChqNo)</td>
                <td>@Html.DisplayFor(modelItem => j.mas.PurChqDate)</td>
                <td>@Html.DisplayFor(modelItem => j.currency.CurName)</td>
                <td>@Html.DisplayFor(modelItem => j.store.StrName)</td>
                <td>@Html.DisplayFor(modelItem => j.item.ItmName)</td>
                <td>@String.Format("{0:n0}", j.det.PurQty)</td>
                <td>@String.Format("{0:n0}", j.det.PurRate)</td>
                <td>@String.Format("{0:n0}", j.det.PurNetAmt)</td>
                <td>@String.Format("{0:n0}", j.det.PurPaidAmt)</td>
                <td>@String.Format("{0:n0}", j.det.PurBalAmt)</td>
                <td>@Html.DisplayFor(modelItem => j.det.PurRemarks)</td>
            </tr>

            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnAddRow").click(function () {
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                });
            });
        });

        $(document).ready(function () {
            $(".btnEdits").click(function (event) {
                var url = event.target.dataset.url;
                $.get(url, function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                });
            });
        });

    </script>

    <script>
        function myFunction() {
            debugger;
            var input, filter, table, tr, td, i, txtValue, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            var tds = $('#myTable').children('tbody').children('tr').children('td').length;
            tds = tds / tr.length;
            for (i = 1; i < tr.length; i++) {
                for (j = 0; j < tds; j++) {
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>

}